body {
  /* background-image: url("assets/images/background.jpeg"); */
  background-color: wheat;
  background-size: cover;
  width: inherit;
  height: inherit;
}

#site-name {
  font-weight: 700;
  padding-left: 20px;
}

h3 {
  color: black;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 20px;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  padding-left: 50px;
}

#bread {
  padding-left: 137px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#pastries {
  padding-left: 137px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.browse {
  display: flex;
  justify-content: initial;
}

#browse-icon {
  background-color: transparent;
  width: 20px;
  height: fit-content;
  margin-top: 20px;
  margin-right: 20px;
}

nav {
  display: flex;
}

.nav-right {
  display: flex;
  font-size: medium;
  padding-right: 4px;
  margin-left: 800px;
  width: max-content;
  justify-content: space-around;
}

#options {
  color: black;
  font-weight: 200;
}

img {
  width: 500px;
}

figure {
  display: inline-block;
  border-radius: 0.5cm;
  border-width: 3px;
  border-color: black;
}

#prod-images {
  width: 300px;
  height: 200px;
  background-color: wheat;
}

section {
  display: flex;
  padding: 100px 95px;
  width: inherit;
}

.container {
  width: inherit;
  margin: 10px auto;
}

figcaption {
  font-weight: 200;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: fit-content;
}
